/**
Very vbasic styles
**/

.nofloat {
    float: none;
    clear: both;
}
// remove padding from rows
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/**
Hintergrundfarbverlauf beim Body
**/
html {
    min-height: 100%;
    body {
        padding-top: @navbar-height;
        padding-bottom: 200px; /*so footer is visible*/
        min-height: 100%;
        background-image: url("/themes/chiemsee/images/footer/earth_cut.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 1200px auto; // Background width = content width              vcc

        .main > .container, footer > .container, header > .container.searchbox  {
            /*background-color: white;*/
        }
        .main > .container-fluid, footer > .container-fluid, header > .container-fluid.searchbox  {
            /*background-color: white;*/
        }
    }
}


.result-list {
    .container, .container-fluid {
        .background-opacity;

    }
    /*Minimaler abstand zw den Zeilen, damit Bilder nicht am Text kleben*/
    .row.result {
        padding: 0.6em 0;
        border-bottom: 1px solid @table-border-color;
        &:last-child {
            border-bottom: 0 !important;
        }


    }
}
.pager {
    margin: 0;
}
.row .record-box > div, .pager {
}
.recordTabs {
    border-bottom: 0;
}

#advSearchForm{
    .background-opacity;
    border-left: 1px solid @table-border-color;
    border-right: 1px solid @table-border-color;
    borderbottomt: 1px solid @table-border-color;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    .well {
        background-color:transparent;
        border: 0;
    }
    legend {
        border-bottom: 0;
    }

}
/*Platzhalter für die Coverbilder*/
.cover-placeholder {
    .title, .author {
        font-size: @font-size-small;
    }
    border: 0.3em solid @brand-primary;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    text-shadow: 1px 0 @gray;
    text-align: center;
}


.pagination {
    &:extend(.pagination-lg);
    .active > a,
    .active > span{
        font-weight: bold;
    }
    li > a {
        background-color: inherit;
    }
}

/*Styling OpenURL Icon*/
.open-url-icon {
    width: 54px;
    height: 16px;
    background-position: -17px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    opacity: 0.8; //make icons less blazing
}

.searchHomeContent {
    padding-top: 15px;
    #searchForm {
        padding-left: 0;
        padding-right: 0;
    }
    @media (min-width: @screen-sm-max) {
        .title {
            margin-top: 0;
        }
    }
    .logo {
        padding-bottom: 15px;
        float: right;
    }
}
//Backgrounds
.bg-gray {
    background-color: darken(@gray-lighter, 5%);
    margin-right: 0;
}

.fis-bildung-logo {
    max-height: 3rem;
    clear: both;
}
/**
RecordTabs get another styling than searchTabs because their background is white
**/
.recordTabs {
    li.active {
        a {
            border-top: 1px solid @brand-primary !important;
            border-right: 1px solid @brand-primary !important;
            border-left: 1px solid @brand-primary !important;
        }
    }
}

/**
Ellipsis for too long texts
**/
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 5em;
}

/**
H4 headings shoulc look like text.
**/
h4, .h4 {
    color: @text-color;
    font-weight: 700;
}

.transparent {
        .background-opacity;
        h1, h2, h3 {
            margin-top: 0;
        }

}
.searchtools {
    margin-bottom: 15px;
}

.jumbotron li {
    font-size: @jumbotron-font-size;
}

.row.main {
    margin-bottom: @grid-gutter-width;
}

.cover img{
    margin: 0 auto;
}

mark {
    padding: .2em 0;
    background: #ff6;
}