/**
Schriftgrößen verkleinern
**/
@media (max-width: @screen-sm-min) {
    @font-size-reduce-factor: 0.90;
/*    ul, li, a, p, dt, dd{
        font-size: @font-size-base * @font-size-reduce-factor;
    }*/
    h1 {
        font-size: @font-size-reduce-factor * @font-size-h1;
    }
    h2 {
        font-size: @font-size-reduce-factor * @font-size-h2;
    }
    h3 {
        font-size: @font-size-reduce-factor * @font-size-h3;
    }
    h4 {
        font-size: @font-size-reduce-factor * @font-size-h4;
    }
}
//Bookcover bündig mit Titel
@media (min-width: @screen-xs-max) {
    .record .recordcover {
        margin-top: 2em;
    }    
}

//Larger Checkboxes on small devices
@media (max-width: @screen-xs-max) {
    input[type=checkbox] {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        margin-right: .8em;
    }
}
/*Adapt input width in search bar*/
header {
    @media (max-width: @screen-xs-max)  {
        .row-xs {
            &:extend(.row);
        }
    }
    @media (min-width: @screen-sm-min)  {
        .row-sm {
            &:extend(.row);
        }
    }
     @media (min-width: @screen-md-min) {
        .navbar-form input[type=text] {
            min-width: 45rem;
            max-width: 90%;
        }
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        .navbar-form input[type=text] {
            min-width: 50rem;
            max-width: 80%; 
        }
    }
    @media (min-width: 451px) and (max-width: @screen-xs-max) {
        .navbar-form input[type=text] {
            min-width: 12rem; 
            max-width: 60%; 
        }
    }
    @media (min-width: 361px) and (max-width: 450px) {
        .navbar-form input[type=text] {
            min-width: 15rem; 
            max-width: 35%; 
        }
    }
    @media (min-width: 300px) and (max-width: 360px) {
        .navbar-form input[type=text] {
            min-width: 14rem; 
            max-width: 35%; 
        }
    }
    @media (max-width: 299px) {
        .navbar-form input[type=text] {
            min-width: 8rem; 
            max-width: 55%; 
        }        
    }   
    @media (max-width: 500px) {
        .navbar-form a .text {
            display: none;
        }
        
    }
}
/* less padding on smaller screens*/
@media (max-width: 400px) {
    .nav.nav-tabs > li > a {
        padding: 4px 6px !important;
    }
}

