.bszShadow {
    box-shadow: 5px 5px 10px @gray;
}
.externalLink {
    &:before {
        content: '\f08e';
        font-family: 'FontAwesome';
        display: inline-block;
        padding-right: 0.3rem;

    }
}
.internalLink {
    &:before {
        content: '\00BB';
        display: inline-block;
        padding-right: 0.3rem;
    }
}
.searchLink {
    &:before {
        content: '\f002';
        font-family: 'FontAwesome';
        display: inline-block;
        padding-right: 0.3rem;
    }
}

.background-opacity (@color: white, @opacity: 0.7) {
    background-color: rgba(red(@color), green(@color), blue(@color), @opacity);
}

