# GNU Emacs temporary files

ChangeLog
\#*
.\#*
.php_cs_cache
TAGS
*~
/downloads
/solr/vendor
/vendor
composer.phar
import/solrmarc.log
import/*
node_modules
public/swagger-ui
public/phpinfo.php
.vagrant
data/
*.mrc
/solr/
nbproject
/env.bat
/config
/local
/nbproject/private/
nbproject/

*.css.map
