# GNU Emacs temporary files
.idea
.vscode
ChangeLog
\#*
.\#*
.php_cs_cache
TAGS
*~
/downloads
/vendor
composer.phar
import/solrmarc.log*
/node_modules
/public/swagger-ui
/.vagrant
/solr
/auth.json
/core
/.env