# That file represents a basic structure of addresses and openings of the Leipzig
# University Library. Due to the yaml format please notice that all changes have to
# be made by line-indentation without tabs and charset utf-8. Please configure and
# use your editor in advance.
http://data.ub.uni-leipzig.de/resource/UBL/department/zw01:
    branch: "Bibliotheca Albertina"
    branchno: zw01
    streetaddress: Beethovenstraße 6
    postalcode: "04103"
    city: Leipzig
    tel: +49(0) 341 97 30577
    email: info@ub.uni-leipzig.de
    url: "https://www.ub.uni-leipzig.de/index.php?id=198"
    note: "Aktuelle Hinweise zu den Öffnungszeiten, z. B. an Sonn- und Feiertagen, finden Sie auf der Website."
    parts:
        http://data.ub.uni-leipzig.de/resource/UBL/department/zw01/part/01:
            branchpart: "Freihand / Lesesaal / Offenes Magazin"
            tel: [+49(0) 341 97 30587, +49(0) 341 97 30528]
            email: [freihand@ub.uni-leipzig.de, lesesaal@ub.uni-leipzig.de]
            openinghours:
                    - {open: 08:00:00, close: 24:00:00, days: Monday-Saturday}
        http://data.ub.uni-leipzig.de/resource/UBL/department/zw01/part/02:
            branchpart: "Bibliothekarischer Service"
            openinghours:
                    - {open: 08:00:00, close: 20:00:00, days: Monday-Friday}
                    - {open: 08:00:00, close: 19:00:00, days: Saturday}
        http://data.ub.uni-leipzig.de/resource/UBL/department/zw01/part/03:
            branchpart: Forschungslesesaal
            tel: [+49(0) 341 97 30526, +49(0) 341 97 30584]
            email: sondersammlungen@ub.uni-leipzig.de
            openinghours:
                    - {open: 09:00:00, close: 20:00:00, days: Monday-Friday}
                    - {open: 10:00:00, close: 19:00:00, days: Saturday}


