[System]
debug           = false

[Index]
; lokaler Solr
url             = http://localhost:8080/solr
; Solr4Entwickler
;url              = http://172.18.85.142:8085/solr
; Solr-Devel (Ip-Freischaltung notwendig)
;url              = http://139.18.19.239:8080/solr

[Parent_Config]
relative_path = ../../../config/vufind/config.ini

[Site]
url = "http://localhost"

[Authentication]
hash_passwords = "1"

encrypt_ils_password = "1"

ils_encryption_key = "3e2ac9b644dd4e0b64b179a0309ead13bb59202a"
