;####################################################################
;##################### DO NOT DELETE THIS HEADER ####################
;################### Leipzig University Library © 2015 ##############
;
; This is the default DEV-INI-file and inherits
; all the settings from the INI-file defined in [Parent_Config] which
; points to the default INI-file located in the folder vufind2/local
;

[Parent_Config]
relative_path = ../../../config/vufind/config.ini

; A comma-separated list of config sections from the parent which should be
; completely overwritten by the equivalent sections in this configuration;
; any sections not listed here will be merged on a section-by-section basis.
override_full_sections = "Http"

;
;       Add DEV-specific customization after this header.
;
;##################### DO NOT DELETE THIS HEADER ####################
;####################################################################

[System]
debug           = false

[Index]
url             = http://{URL}:{PORT}/solr

[Site]
url = "http://{URL}"

[Authentication]
method=ILS
hash_passwords = "1"
encrypt_ils_password = "1"
ils_encryption_key = "{ENCRYPTION_KEY}"

[Catalog]
driver = "FincILS"

[Http]
; Pfad zu SSL-Zertifikaten in der docker-VM (global für CentOS konfiguriert)
sslcapath = "/etc/ssl/certs"

[Content]
coversize[result-list] = false
showStyleBasedIcons = true

[CustomIndex]
localMarcFieldOfLibraryNamespace = "{NAMESPACE_OF_LIBRARY}"
