;####################################################################
;##################### DO NOT DELETE THIS HEADER ####################
;################### Leipzig University Library © 2015 ##############
;
; This is the default DEV-INI-file and inherits
; all the settings from the INI-file defined in [Parent_Config] which
; points to the default INI-file located in the folder vufind2/local
;

[Parent_Config]
relative_path = ../../../config/vufind/config.ini

; A comma-separated list of config sections from the parent which should be
; completely overwritten by the equivalent sections in this configuration;
; any sections not listed here will be merged on a section-by-section basis.
override_full_sections = "Http"

;
;       Add DEV-specific customization after this header.
;
;##################### DO NOT DELETE THIS HEADER ####################
;####################################################################

[System]
debug           = false

[Index]
; lokaler Solr
url             = http://localhost:8080/solr
; Solr4Entwickler
;url              = http://172.18.85.142:8085/solr
; Solr-Devel (Ip-Freischaltung notwendig)
;url              = http://139.18.19.239:8080/solr

[Site]
url = "http://localhost"

[Authentication]
hash_passwords = "1"

encrypt_ils_password = "1"

ils_encryption_key = "3e2ac9b644dd4e0b64b179a0309ead13bb59202a"

[Http]
; Pfad zu SSL-Zertifikaten in der docker-VM (global für CentOS konfiguriert)
sslcapath = "/etc/ssl/certs"

; OpenURL configuration institution specified
; sample configuration for ubl
[OpenURL]
url             = "http://www.redi-bw.de/links/ubl?rl_site=ubl"
rfr_id          = www.ub.uni-leipzig.de
resolver        = redi
window_settings = "toolbar=no,location=no,directories=no,buttons=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=550,height=600"
show_in_results = false    ; include in search results
show_in_record = false     ; include in core record metadata
show_in_holdings = true    ; include in holdings tab of record view
embed = true
replace_other_urls = true

[Content]
coversize[result-list] = false
showStyleBasedIcons = true
