[General]
active_resolvers = Redi,Ezb
window_settings = "toolbar=no,location=no,directories=no,buttons=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=550,height=600"
show_in_results = false    ; include in search results
show_in_record = false     ; include in core record metadata
show_in_holdings = true    ; include in holdings tab of record view
embed = true
embed_auto_load = false
replace_other_urls = false

[Redi]
url             = "{URL}"
rfr_id          = {RFR_ID}
resolver        = redi

[Ezb]
url             = "{URL}"
rfr_id          = {RFR_ID}
resolver        = ezb
sid = "{SID}:vufind"
;validStatesList = "0,1,2,3"
bibid = "{BIBID}"
sigel = {ISIL NUMBER}
isil = "{ISIL}"
bik = "{BIK}"
