[General]
active_resolvers = Redi,Ezb
window_settings = "toolbar=no,location=no,directories=no,buttons=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=550,height=600"
show_in_results = false    ; include in search results
show_in_record = false     ; include in core record metadata
show_in_holdings = true    ; include in holdings tab of record view
embed = true
embed_auto_load = false
replace_other_urls = false

[Redi]
url             = "http://www.redi-bw.de/links/ubl?rl_site=ubl"
rfr_id          = www.ub.uni-leipzig.de
resolver        = redi

[Ezb]
url             = "http://services.d-nb.de/fize-service/gvr/full.xml"
rfr_id          = www.ub.uni-leipzig.de
resolver        = ezb
sid = "ubl:vufind"
;validStatesList = "0,1,2,3"
bibid = "UBL"
sigel = 15
isil = "DE-15"
bik = "952000-4"
