// Switch on/off highlighting visibility using
// background color in alpha channel 
// rgba(255,255,0,0) = off, 
// rgba(255,255,0,1) = maximum saturation

 body {
    background: url("/themes/bodensee/images/bg/blb.jpg") no-repeat fixed 50% center / cover;
}

.navbar-default {
    background-color: rgb(67, 157, 148);
    border-color: rgba(57,134,126,.63);
}