// Switch on/off highlighting visibility using
// background color in alpha channel 
// rgba(255,255,0,0) = off, 
// rgba(255,255,0,1) = maximum saturation


// intense background gradient
body:not(.frame) {
    //background-image: linear-gradient(to bottom, #eaeaea 15%, #ddd 90%);
    background-color: #cacaca;
}

.navbar-default {
    background-color: #cacaca;
    border-color: #cacaca;
}

.label-default {
    background-color: inherit;
}

html body:not(.frame) {
    padding-top: @navbar-height;
}

.graybg {
    background-color: @brand-primary;
}

footer .well ul li a, footer .well ul li a:hover {
    color: #fff;
}

footer .well h4, footer .well h5 {
    color: #1f8bc7;
    font-weight: 700;
}

footer .lastline {
    background-color: #05293c;
}

footer small, footer small a, footer small a:hover {
    color: #fff;
}