// Switch on/off highlighting visibility using
// background color in alpha channel 
// rgba(255,255,0,0) = off, 
// rgba(255,255,0,1) = maximum saturation


// intense background gradient
body:not(.frame) {
    //background-image: linear-gradient(to bottom, #eaeaea 15%, #ddd 90%);
    background-color: #cacaca;
}

.navbar-default {
    background-color: #cacaca;
    border-color: #cacaca;
}

.label-default {
    background-color: inherit;
}

html body:not(.frame) {
    padding-top: 126px;
}

.graybg {
    background-color: @brand-primary;
}

footer .well ul li a, footer .well ul li a:hover {
    color: #fff;
}

footer .well h4, footer .well h5 {
    color: #1f8bc7;
    font-weight: 700;
}

footer .lastline {
    background-color: #05293c;
}

footer small, footer small a, footer small a:hover {
    color: #fff;
}

.white-bg {
    background-color: #fff;    
}
.primary-bg {
    background-color: @brand-primary;
}
.navbar {
    background-image: none;
    .box-shadow(none);
    border-bottom: 0;
}
header {
    .navbar .container{    
        @media (min-width: @screen-sm-min) {
            padding-left: 15px;   
            padding-right: 15px;
        }

        .navbar-brand {
            padding: 0;
            width: 250px;
            margin-left: -4px;
            margin-top: 13px
        }
    }    
}

    