// Switch on/off highlighting visibility using
// background color in alpha channel 
// rgba(255,255,0,0) = off, 
// rgba(255,255,0,1) = maximum saturation


// intense background gradient
body:not(.frame) {
    //background-image: linear-gradient(to bottom, #eaeaea 15%, #ddd 90%);
    background-color: #cacaca;
}

.navbar-default {
    background-color: #cacaca;
    border-color: #cacaca;
}

.label-default {
    background-color: inherit;
}

html body:not(.frame) {
    padding-top: @navbar-height;
}

.graybg {
    background-color: @brand-primary;
}

footer .well ul li a, footer .well ul li a:hover {
    color: #fff;
}

footer .well h4, footer .well h5 {
    color: #1f8bc7;
    font-weight: 700;
}

footer .lastline {
    background-color: #05293c;
}

footer small, footer small a, footer small a:hover {
    color: #fff;
}

.navbar {
    background-image: -webkit-linear-gradient(lighten(@navbar-inverse-bg, 8%),lighten(@navbar-inverse-bg, 4%) 60%,darken(@navbar-inverse-bg, 2%));
    background-image: -o-linear-gradient(lighten(@navbar-inverse-bg, 8%),lighten(@navbar-inverse-bg, 4%) 60%,darken(@navbar-inverse-bg, 2%));
    background-image: url('/themes/bodensee/images/logo/balken.png'), linear-gradient(lighten(@navbar-inverse-bg, 8%),lighten(@navbar-inverse-bg, 4%) 60%,darken(@navbar-inverse-bg, 2%));
    background-position: right;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0d6a9b', endColorstr='#ff084362', GradientType=0);
    border-bottom: 0;

    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);

}
    