.searchForm {
    .btn-info {
        &:extend(.btn-primary);
        color: @text-color;
        &:hover {
            &:extend(.btn-primary:hover);
        }
    }
    .btn-primary {
        background-color: #FFF5E5;
        border: 1px solid #FFF5E5;
        color: @text-color;
        &:hover {
            background-color: @btn-primary-bg !important;
            border: 1px solid @btn-primary-bg;
        }
    }
}

.nav-tabs > li:not(.active) > a {
    background-color: @brand-primary !important;
    color: @text-color;
}

.nav-tabs > li:not(.active) > a:hover {
    background-color: darken(@brand-primary, 10%) !important;
    color: white
}
.navbar-brand.logo-top:hover {
    background-color: none !important;
}

.navbar-brand.logo-right {
    height: 80px;
    img {
        float: right;
        margin-right: -5px;
        @media (min-width: @screen-md-min) {
            max-width: 190px;
        }
    }
}

.navbar-toggle {
    color: @gray-dark;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: @text-color;
    background-color: white;
}

.navbar .delete-input {
    i {
        color: @text-color;
    }
}
.pagination > li > a, .pagination > li > span {
    background-color: @brand-primary !important;
    &:hover {
        background-color: darken(@brand-primary, 10%) !important;
        color: @text-color;

    }
}

body:not(.frame) {
    /*#gradient.vertical(darken(@brand-primary, 30%); @brand-primary; 15%; 90%);*/
    background-color: #fffaf3;
}