// Switch on/off highlighting visibility using
// background color in alpha channel
// rgba(255,255,0,0) = off,
// rgba(255,255,0,1) = maximum saturation


// intense background gradient
body:not(.frame) {
    /*#gradient.vertical(darken(@brand-primary, 30%); @brand-primary; 15%; 90%);*/
    background-color: darken(white, 5%);
}

.specialhome {
    margin-top: -20px;
    font-size: 16px;
}

.searchForm {
    .btn-info {
        &:extend(.btn-primary);
        &:hover {
            &:extend(.btn-primary:hover);
        }
    }
    .btn-primary {
        &:extend(.btn-default);
        &:hover {
            &:extend(.btn-default:hover);
        }
    }
}
.navbar .nav-tabs > li:not(.active) > a {
    background-color: darken(@brand-primary, 10%) !important;
    color: white;
}

.navbar-brand.logo-top {
    height: 65px !important;
    font-size: 18px;
    line-height: 45px;
    padding-left: 22px;
    span {
        @media (max-width: 450px) {
            font-size:35px;
        }
        @media (min-width: 451px) {
            font-size: 48px;
        }
    }
    small {
        white-space: nowrap;
    }

}

.navbar-brand.logo-right {
    height: 70px;
    img {
        float: right;
        height: 50px;
        margin-right: -5px;
    }
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchHomeContent {
    div.row {
        margin-top: -20px;
        margin-bottom: 30px;
    }
}

footer .well img:last-child {
    margin-top: 15px;
}

.hidden-xxs {
    @media (max-width: 450px) {
        display: none;
    }
}
