.searchForm {
    .btn-info {
        &:extend(.btn-primary);
        &:hover {
            &:extend(.btn-primary:hover);
        }
    }
    .btn-primary {
        &:extend(.btn-default);
        &:hover {
            &:extend(.btn-default:hover);
        }
    }
}

.nav-tabs > li:not(.active) > a {
    background-color: @brand-primary !important;
    color: white
}

.nav-tabs > li:not(.active) > a:hover {
    background-color: darken(@brand-primary, 10%) !important;
    color: white
}
.navbar-brand.logo-top:hover {
    background-color: none !important;
}

.navbar-brand.logo-right {
    height: 80px;
    img {
        float: right;
        margin-right: -5px;
        @media (min-width: @screen-md-min) {
            max-width: 190px;
        }
    }
}

.navbar-toggle {
    color: @gray-dark;
}