// Switch on/off highlighting visibility using
// background color in alpha channel
// rgba(255,255,0,0) = off,
// rgba(255,255,0,1) = maximum saturation

mark {
    background: rgba(255,255,0,0.5) ;
}

// decent gray gradient
body:not(.frame) {
    #gradient.vertical(@gray-light; darken(@gray-lighter, 5%); 15%; 90%);
}

.searchbutton {
    margin-bottom: 5px;
}
.navbar {
    background-image: url("/themes/bodensee/images/header/fiv_header_karte.png");
    background-repeat: no-repeat;
    background-size: 100% @navbar-height;
    background-color: #e6eaf5;
    border-bottom: 0;
}
.navbar-brand img {
    margin-top: 8px;
}
.navbar .delete-input {
    background-color: @gray-lighter;
    i {
        color: @gray-base;
    }
}
.navbar .searchForm_lookfor {
    border: 1px solid @brand-primary;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: @brand-info;
}

.navbar-toggle.btn.btn-primary {
    color: @brand-info !important;
    margin-top: 8px !important;
}