// intense background gradient
body:not(.frame) {
    background-color: #CACACA;
}

.navbar-default {
    background-color: #cacaca;
    border-color: #cacaca;
}

.label-default {
    background-color: inherit;
}

.facet .text {
    text-align: left;
}

.nav-tabs > li:not(.active) > a {
    background-color: @brand-primary;
    color: white
}

.white-bg {
    background-color: #fff;
}
.primary-bg {
    background-color: @brand-primary;
}
.navbar {
    background-image: none;
    .box-shadow(none);
    border-bottom: 0;
}
header {
    .navbar .container{
        @media (min-width: @screen-sm-min) {
            padding-left: 15px;
            padding-right: 15px;
        }

        .navbar-brand {
            padding: 0;
            width: 250px;
            margin-left: -4px;
            margin-top: 12px
        }
    }
}