// Switch on/off highlighting visibility using
// background color in alpha channel
// rgba(255,255,0,0) = off,
// rgba(255,255,0,1) = maximum saturation


// intense background gradient
body:not(.frame) {
    /*#gradient.vertical(darken(@brand-primary, 30%); @brand-primary; 15%; 90%);*/
    background-color: darken(white, 5%);
}

.specialhome {
    margin-top: -20px;
    font-size: 16px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #222;
    background-color: white;
}
.nav-tabs > li:not(.active) > a {
    background-color: darken(@brand-primary, 10%);
    color: #222
}
.nav-tabs > li.active > a {
    background-color: #ffffff;
    font-weight: bold;

}

footer {
    .well {
        a:hover {
            color: #E04820 !important;
        }
    }
}
.navbar-brand.logo-right {
    height: 125px;
    img {
        float: right;
        margin-right: -5px;
        max-width: 170px;
    }
}