
.navbar-brand.logo-right {
  height: auto;
  img {
    float: right;
    margin-right: -5px;
    @media (min-width: @screen-md-min) {
      max-width: 110px;
    }
    @media (max-width: @screen-sm-max) {
      max-width: 110px;
      margin-right: 15px;
    }
  }
}

a.fulltext.external {
  text-decoration: underline;
}
