/*
 * Copyright 2020 (C) Bibliotheksservice-Zentrum Baden-
 * Württemberg, Konstanz, Germany
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 *
 */

// Switch on/off highlighting visibility using
// background color in alpha channel
// rgba(255,255,0,0) = off,
// rgba(255,255,0,1) = maximum saturation


// intense background gradient
body:not(.frame) {
  /*#gradient.vertical(darken(@brand-primary, 30%); @brand-primary; 15%; 90%);*/
  background-color: darken(white, 5%);
}

.specialhome {
  margin-top: -20px;
  font-size: 16px;
}

.navbar-brand.logo-top {
  height: 70px;
  font-size: 18px;
  line-height: 45px;
  padding-left: 22px;
  span {
    @media (max-width: 450px) {
      font-size:35px;
    }
    @media (min-width: 451px) {
      font-size: 48px;
    }
  }
  small {
    white-space: nowrap;
  }
  &:hover {
    background-color: @brand-primary !important;
  }
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchHomeContent {
  div.row {
    margin-top: -20px;
    margin-bottom: 30px;
  }
}

footer .well img {
  max-width: 150px !important;

  &:last-child {
    margin: 15px 0;
  }
}



.hidden-xxs {
  @media (max-width: 450px) {
    display: none;
  }
}
