/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25.11.2019, 14:25:21
    Author     : winkler
*/

.autocomplete-results {
  max-width: 460px; /* CUSTOMIZED */
  margin-top: 0px;
  z-index: 1500;
}