
// prevent incredible long lings from breaking the layout. 
.tab-pane.details-tab {
    overflow: hidden;
}

.record-nav > li > a {
    padding: 5px 10px;
}

.nav-tabs > li.greyed {
    float:right;
    a, 
    a:hover, 
    a:focus {
        background-color: white;
        color: @gray-light;
        border: 1px solid white;
    }
}
