// align the sort select to the right
.search-result-limit, .search-sort {
    display: right;
}

.record-nav .cart-add, .record-nav .cart-remove {
    background-color: #fff;
    color: @link-color;
}

.record-nav .cart-add:hover, .record-nav .cart-remove:hover {
     color: @link-hover-color;
     background-color: @nav-link-hover-bg;     
}

.media-left {
    min-width: 15%;
}