// align the sort select to the right
.search-result-limit, .search-sort {
    display: right;
}

.record-nav .cart-add, .record-nav .cart-remove {
    background-color: #fff;
    color: @link-color;
}