@variables: 'variables/mhka';
@import '../../bodensee/less/fonts/ubuntu';
@import '../../bodensee/less/vendor/vendor';
@import '../../bodensee/less/bsz/print';
@import '../../bodensee/less/bsz/mixins';
@import "../../bodensee/less/vufind";
@import 'custom/modifications';

html body:not(.frame) {
  /*#gradient.vertical(darken(@brand-primary, 30%); @brand-primary; 15%; 90%);*/
  background-color: white;
  padding-top: 205px;
}

.specialhome {
  margin-top: -20px;
  font-size: 16px;
}
footer {
  .well {
    a:hover {
      color: #E04820 !important;
    }
  }
}
