
.navbar-searchbar {
  background-color: @navbar-searchbar-bg
}
header .navbar-right {
  margin-top: 35px;
}
.nav-tabs > li > a {
  background-color: white !important;
  color: @text-color;
  border: 1px solid @text-color;
  border-radius: 5px;
  padding: 5px 10px !important;
  margin-right: 15px;

}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: blue;
  border: 1px solid blue;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: darken(blue, 10%);
  border: 1px solid darken(blue, 10);
}
.navbar-form {
  padding-bottom: 15px;
}

.library-logo img {
  max-height: 90px;
}


.nav-tabs {
  padding: 15px 0;
}