

.bsz-border-top {
    border-top: 2px solid @brand-primary;
}

.bsz-border-bottom {
    border-bottom: 2px solid @brand-primary;
}

.bsz-border-left {
    border-left: 2px solid @brand-primary;
}

.bsz-border-right {
    border-right: 2px solid @brand-primary;
}

.bsz-border {
    .bsz-border-top;
    .bsz-border-right;
    .bsz-border-bottom;
    .bsz-border-left;
}
